version: '3.8'

services:
  db:
    image: mysql:8.0
    container_name: devices-db
    environment:
      MYSQL_ROOT_PASSWORD: password
      MYSQL_DATABASE: devicesdb
    ports:
      - "3306:3306"
    volumes:
      - db-data:/var/lib/mysql

volumes:
  db-data:
