spring:
  application:
    name: devices-api
  datasource:
    url: jdbc:mysql://localhost:3306/devicesdb?useSSL=false&allowPublicKeyRetrieval=true&serverTimezone=UTC
    username: root
    password: password
  jpa:
    hibernate:
      ddl-auto: none
    show-sql: true

liquibase:
  change-log: classpath:db/changelog/db.changelog-master.yaml

server:
  port: 8080

